XmlToObjectPrueba01/Service References/ServiceReference1/FacturacionElectronicaService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ACE.Framework.CrossCutting.Exceptions.FaultContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ACE.Framework.CrossCutting.Exceptions.FaultContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://172.25.106.110/Chubb.Facturacion/FacturacionElectronicaService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/ACE.Framework.CrossCutting.Exceptions" />
  <xs:complexType name="ServiceError">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ACE.Framework.CrossCutting.Exceptions" minOccurs="0" name="ExceptionServiceType" type="q1:ExceptionServiceType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceError" nillable="true" type="tns:ServiceError" />
</xs:schema>