XmlToObjectPrueba01/Service References/ServiceReference1/FacturacionElectronicaService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Chubb.Facturacion.MessageContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Chubb.Facturacion.MessageContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://172.25.106.110/Chubb.Facturacion/FacturacionElectronicaService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Chubb.Facturacion.DataContracts" />
  <xs:complexType name="ListarCompaniasReq">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="ListarCompaniasReq" nillable="true" type="tns:ListarCompaniasReq" />
  <xs:complexType name="ListarCompaniasRes">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Chubb.Facturacion.DataContracts" minOccurs="0" name="Companias" nillable="true" type="q1:ArrayOfCompania" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListarCompaniasRes" nillable="true" type="tns:ListarCompaniasRes" />
  <xs:complexType name="ListarEquivalenciasReq">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="ListarEquivalenciasReq" nillable="true" type="tns:ListarEquivalenciasReq" />
  <xs:complexType name="ListarEquivalenciasRes">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Chubb.Facturacion.DataContracts" minOccurs="0" name="Equivalencias" nillable="true" type="q2:ArrayOfEquivalenciasSistemas" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListarEquivalenciasRes" nillable="true" type="tns:ListarEquivalenciasRes" />
</xs:schema>